venv/
expense_tracker.db
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
.claude/plans/
.desc.txt
project_desc.txt
.file.txt
.file2.txt
./claude
custom_slash_commands.txt
md_files_auto_memory.txt
plan_mode.txt
spec_driven_coding.txt
spendly.db
skills.txt
skills_workflow_chart_md_file.png
custom_slash_commands
subagents.txt
Transaction_Table_Alignment_issue.png
mcp_server.txt
hooks.txt
spendly copy.db
plugins.txt